body {
  margin: 0;
}

.App {
  font-family: "Maitree", serif;
  text-align: center;
  color: #43a047;
}

.favorite {
  text-align: center;
  color: #43a047;
}

h1 {
  margin-bottom: 0;
}


/* Navbar */
.navbar a {
  text-decoration: none;
  color: white;
  
}

.navbar {
  background: #43a047;
  padding: 20px;
  color: white;
  text-align: center;
}

/* gallery */
.gallery {
  display: grid;
  gap: 10px;
}

.grid-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gallery .photo {
  cursor: pointer;
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 200px;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: left;
  text-shadow: 0px 0px 15px black;
  /* width: 100%; */
}

.gallery .photo:hover {
  box-shadow: 0px 0px 2px 1px black;
}
.photo-container {
  position: relative;
  display: flex;
}
.caption {
  position: absolute;
  left: 0;
  text-align: left;
  bottom: 0; 
  z-index: 1; 
  color: white; 
  font-size: 16px; 
  
  padding: 2px 15px; 
 
  margin-left: 5px; 
}

.gallery .photo svg {
  align-self: flex-end;
}

.p-3 {
  padding: 30px;
} 
